.scheduler{
    margin:0 auto;
    width: 50vw;
}
td{
   
    text-align: center;
}
.time{
    border-right: 3px solid darkgray;
    width: 10%;
}
th{
    text-align: center;
}

.schedule-content{
    height: 50px;
    width: 80%;
    text-align: center;
}
.even-row{
    background: lightblue;
}
.odd-row{
    background: lightgray;
}
.drag{
    margin:0 auto;
    width: 50%;
    background: yellow;
}