.scheduler{
    float: right;
    position: absolute;
    top: 10%;
    right:0px;
    margin-right: 20px;
    width: 45%;
}
td{
   
    text-align: center;
}
.time{
    width: 10px;
}
th{
    text-align: center;
}

.schedule-content{
    height: 50px;
    width: 80%;
    text-align: center;
}
.even-row{
    background: lightblue;
}
.odd-row{
    background: lightgray;
}
.drag{
    margin:0 auto;
    width: 50%;
}