.scheduler{
    float: right;
    position: absolute;
    top: 17%;
    right:0px;
    margin-right: 20px;
    width: 45%;
}
td{
   
    text-align: center;
}
.time{
    font-size: 16px;
    width: 10px;
    border-right: 3px solid black;
}
th{
    text-align: center;
}

.schedule-content{
    height: 50px;
    width: 80%;
}
.even-row{
    font-size: 24px;
    color:black;
    border-bottom: 3px solid black;
}
.odd-row{
    font-size: 24px;
    color:black;
    border-bottom: 3px solid black;
}
.drag{
    margin:0 auto;
    width: 50%;
}
.drop{
    position: relative;
}
.far{
    
    position: absolute;
    right:15px;
    top:5px;
}