#taskname, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  #submittingform {
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #submittingform:hover {
    background-color: #3a348a;
  }

  #category {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .surrounding {
    border-radius: 5px;
    background-color: #18112e;
    color: white;
    padding: 20px;
    width: 50%;
    border: white 1px solid;
  }