.tasklist {
    background-color: rgb(38, 25, 95) !important; 
    border: 1px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50%;
    border-radius: 5px;
    opacity: 0.9;
    background-image: url("https://images.unsplash.com/photo-1528722828814-77b9b83aafb2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
    text-align: left;
    margin-left: 20px;
  }

  .tasklist:hover {
    opacity: 1;
  }
